Q1

In [1]:
def remove_letters(a, b):
    c=[]
    for i in a:
        if i not in b:
            c.append(i)
    return c

In [2]:
remove_letters(["s", "t", "r", "i", "n", "g", "w"], "string")

['w']

In [3]:
remove_letters(["b", "b", "l", "l", "g", "n", "o", "a", "w"], "balloon")

['g', 'w']

In [4]:
remove_letters(["d", "b", "t", "e", "a", "i"], "edabit")

[]

Q2

In [5]:
def blocks(a):
    d=5
    if a==1:return 5
    for i in range (1,a):        
        c=i+6
        d+=c
    return d

In [6]:
blocks(1)

5

In [7]:
blocks(5)

39

In [8]:
blocks(2)

12

In [9]:
blocks(4)

29

In [10]:
blocks(3)

20

Q3

In [11]:
def my_sub(x, y):  
    a=(y,~x,1)
    return sum (a)

In [12]:
my_sub(5, 9)

4

In [13]:
my_sub(10, 30)

20

In [14]:
my_sub(0, 0)

0

Q4

In [15]:
import re

In [16]:
def add_bill(a):
    p1=r'(?<=[d])\d+(?!k)'
    p2=r'(?<=[d])\d+(?=k)'
    b=[int(i) for i in re.findall(p1, a)]
    c=[int(i)*1000 for i in re.findall(p2, a)]
    d1=sum(b)+sum(c)   
    return d1

In [17]:
add_bill("d20,p40,p60,d50")

70

In [18]:
add_bill("p30,d20,p60,d150,p360")

170

In [19]:
add_bill("p30,d2k,p60,d200,p360")

2200

In [23]:
import numpy as np

Q5

In [24]:
def flip_list(a):
    l=[]
    for i in range(len(a)):
        if type(a[i])==list:l.append(a[i][0])
        if type(a[i])==int:l.append([a[i]])
    return np.array(l)

In [25]:
flip_list([1, 2, 3, 4])

array([[1],
       [2],
       [3],
       [4]])

In [26]:
flip_list([[5], [6], [9]])

array([5, 6, 9])