1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt. and print it.

In [1]:
test1 = 'This is a test of the emergency text system.'

with open('test.txt', 'w') as file:
    file.write(test1)

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
test2=""

with open('test.txt', 'r') as file:
    test2+=file.read()

print(test2)

print(f"There is difference b/w test1 and test2 : {test1!=test2}")

This is a test of the emergency text system.
There is difference b/w test1 and test2 : False

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchetnd print it.

In [3]:
import csv

data = [
    ["title", "author", "year"],
    ["The Weirdstone of Brisingamen", "Alan Garner", 1960],
    ["Perdido Street Station", "China Miéville", 2000],
    ["Thud!", "Terry Pratchett", 2005],
    ["The Spellman Files", "Lisa Lutz", 2007],
    ["Small Gods", "Terry Pratchett", 1992]
]



with open('books.csv', 'w',newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [4]:
import sqlite3

conn = sqlite3.connect('books.db')


cursor = conn.cursor()


cursor.execute('''
    CREATE TABLE IF NOT EXISTS books (
        id INTEGER PRIMARY KEY,
        title TEXT,
        author TEXT,
        year INTEGER
    )
''')


conn.commit()
conn.close()

5. Read books.csv and insert its data into the book table.

In [5]:
conn = sqlite3.connect('books.db')
cursor = conn.cursor()


with open('books.csv', 'r') as csv_file:
    csv_reader = csv.reader(csv_file)
    next(csv_reader)#skip headers
    
    for row in csv_reader:
        title, author, year = row
        cursor.execute('INSERT INTO books (title, author, year) VALUES (?, ?, ?)', (title, author, year))


conn.commit()
conn.close()

6. Select and print the title column from the book table in alphabetical order.

In [6]:
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
cursor.execute('SELECT title FROM books ORDER BY title')
titles = cursor.fetchall()

for title in titles:
    print(title[0])
conn.close()

Perdido Street Station
Perdido Street Station
Small Gods
Small Gods
The Spellman Files
The Spellman Files
The Weirdstone of Brisingamen
The Weirdstone of Brisingamen
Thud!
Thud!

7. From the book table, select and print all columns in the order of publication.

In [7]:
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
cursor.execute('SELECT * FROM books ORDER BY year')
records = cursor.fetchall()

for record in records:
    print(record)
conn.close()

(1, 'The Weirdstone of Brisingamen', 'Alan Garner', 1960)
(6, 'The Weirdstone of Brisingamen', 'Alan Garner', 1960)
(5, 'Small Gods', 'Terry Pratchett', 1992)
(10, 'Small Gods', 'Terry Pratchett', 1992)
(2, 'Perdido Street Station', 'China Miéville', 2000)
(7, 'Perdido Street Station', 'China Miéville', 2000)
(3, 'Thud!', 'Terry Pratchett', 2005)
(8, 'Thud!', 'Terry Pratchett', 2005)
(4, 'The Spellman Files', 'Lisa Lutz', 2007)
(9, 'The Spellman Files', 'Lisa Lutz', 2007)

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [8]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker


Base = declarative_base()


class Book(Base):
    __tablename__ = 'books'
    
    id = Column(Integer, primary_key=True)
    title = Column(String)
    author = Column(String)
    year = Column(Integer)


db_url = 'sqlite:///books.db'
engine = create_engine(db_url)


Session = sessionmaker(bind=engine)
session = Session()
#query
books = session.query(Book).all()

for book in books:
    print(f'Title: {book.title}, Author: {book.author}, Year: {book.year}')


session.close()

Title: The Weirdstone of Brisingamen, Author: Alan Garner, Year: 1960
Title: Perdido Street Station, Author: China Miéville, Year: 2000
Title: Thud!, Author: Terry Pratchett, Year: 2005
Title: The Spellman Files, Author: Lisa Lutz, Year: 2007
Title: Small Gods, Author: Terry Pratchett, Year: 1992
Title: The Weirdstone of Brisingamen, Author: Alan Garner, Year: 1960
Title: Perdido Street Station, Author: China Miéville, Year: 2000
Title: Thud!, Author: Terry Pratchett, Year: 2005
Title: The Spellman Files, Author: Lisa Lutz, Year: 2007
Title: Small Gods, Author: Terry Pratchett, Year: 1992

C:\Users\arjun\AppData\Local\Temp\ipykernel_6936\1719986415.py:6: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()


9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [9]:
pip install redis

Requirement already satisfied: redis in c:\users\arjun\miniconda3\envs\firstenv\lib\site-packages (5.0.0)
Requirement already satisfied: async-timeout>=4.0.2 in c:\users\arjun\miniconda3\envs\firstenv\lib\site-packages (from redis) (4.0.2)
Note: you may need to restart the kernel to use updated packages.

In [10]:
import redis


r = redis.Redis(host='localhost', port=6379, db=0)


r.hset('test', 'count', 1)
r.hset('test', 'name', 'Fester Bestertester')


all_fields = r.hgetall('test')
for field, value in all_fields.items():
    print(f'{field.decode("utf-8")}: {value.decode("utf-8")}')

count: 1
name: Fester Bestertester

10. Increment the count field of test and print it.

In [11]:
incremented_count = r.hincrby('test', 'count', 1)

# Print the incremented count
print('Incremented count:', incremented_count)

Incremented count: 2