1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [1]:
year_of_birth=int(input("Enter your year of birth :"))
years_list=[i for i in range(year_of_birth,year_of_birth+6)]
print(years_list)

Enter your year of birth : 1980

[1980, 1981, 1982, 1983, 1984, 1985]

2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [2]:
print(f'Third birthday was in {years_list[3]}')

Third birthday was in 1983

3. In the years list, which year were you the oldest?

In [3]:
print(f'Oldest year {years_list[-1]}')

Oldest year 1985

4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella"

In [4]:
things = ["mozzarella", "cinderella", "salmonella"]

5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [5]:
person="cinderella"
for i in range(len(things)):
    if things[i]==person:
        things[i]=things[i].title()
things

['mozzarella', 'Cinderella', 'salmonella']

6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

In [6]:
surprise=["Groucho","Chico","Harpo"]

7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [7]:
surprise[-1]=surprise[-1].lower()[::-1].title()
surprise

['Groucho', 'Chico', 'Oprah']

8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [8]:
e2f={}
e2f['dog']='chien'
e2f['cat']='chat'
e2f['walrus']='morse'

9. Write the French word for walrus in your three-word dictionary e2f.

In [9]:
print(f"French word for walrus is : {e2f['walrus']}")

French word for walrus is : morse

10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [10]:
f2e={}
for key,value in e2f.items():
    f2e[value]=key

11. Print the English version of the French word chien using f2e.

In [11]:
print(f"English word for french word chien is : {f2e['chien']}")

English word for french word chien is : dog

12. Make and print a set of English words from the keys in e2f.

In [12]:
english_set=set()
for i in e2f.keys():
    english_set.add(i)
english_set

{'cat', 'dog', 'walrus'}

13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

In [13]:
life={}
for i in ['animals', 'plants', 'other']:
    life[i]={}
for i in ['cats', 'octopi', 'emus']:
    life['animals'][i]={}
life['animals']['cats']=['Henri', 'Grumpy', 'Lucy']

life

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

14. Print the top-level keys of life.

In [14]:
print(f'Top level keys of life : {list(life.keys())}')

Top level keys of life : ['animals', 'plants', 'other']

15. Print the keys for life['animals'].

In [15]:
print(f"Keys for life['animals'] : {list(life['animals'].keys())}")

Keys for life['animals'] : ['cats', 'octopi', 'emus']

16. Print the values for life['animals']['cats']

In [16]:
print(f"Values for life['animals']['cats'] : {life['animals']['cats']}")

Values for life['animals']['cats'] : ['Henri', 'Grumpy', 'Lucy']